<!Doctype HTML>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form method="POST" enctype="multipart/form-data" action="/upload" id="file-uploadForm" role="form">
			<input class="form-control" type="file" name="file" />
			<input type="submit" name="Submit" >
		</form>
	</body>
</html>
